{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container main-content">
    <div class="row">
        <div class="col-auto offset-1 offset-md-2">
            <h2 class="support mt-5">
                Home page test
            </h2>
            <a class="btn rounded my-3" href="{% url 'britain' %}" aria-label="View all products">See the map</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include '/Users/Kit/Documents/onthebank/templates/includes/footer.html' %}
{% endblock %}