onthebank-venv/
venv/
britain/osrivers/
qgis-data/
OS OpenMap Local (ESRI Shape File) ST/
gis-project.qgz
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt