<footer class="footer mt-auto">
    <div class="row footer-row text-center">
        <div class="col-4 my-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
                        aria-label="View all products">All Products</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
                        aria-label="View all music on sale">Music</a></li>
            </ul>
        </div>
        <div class="col-4 my-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
                        aria-label="View all the artists we work with">Artists</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
                        aria-label="View testimonials from our collaborators">Testimonials</a></li>
            </ul>
        </div>
        <div class="col-4 my-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
                        aria-label="Get in contact">Contact</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"
                        aria-label="View our privacy policy (opens in a new tab)" target="_blank"
                        rel="noopener nofollow">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="row footer-row">
        <div class="col-12 col-md-10 col-lg-6 offset-lg-1 order-lg-last">
            <p>something</p>
        </div>
        <div class="col-12 col-lg-3 offset-lg-1 pr-0 align-self-end">
            <p>&copy; On the Bank 2024</p>
        </div>
    </div>
</footer>