{% load geojson_tags %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% leaflet_js %}
    {% leaflet_css %}
    <title>On the Bank</title>
</head>
<body>
    <!-- <p>{{ test_link.name1 }}</p> -->
    <div id="map" style="height: 100vh;"></div>
    <script type="text/javascript">
        function map_init(map, options) {
            var geojson_data = {{ geojson_data|safe }};
            var bounds = L.geoJson(geojson_data).getBounds();
            map.fitBounds(bounds);

            for (var i = 0; i < geojson_data.features.length; i++) {
                L.geoJson(geojson_data.features[i].geometry).addTo(map);
            }
        }
    </script>
    {% leaflet_map "map" callback="map_init" %}
</body>
</html>