{% load geojson_tags %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% leaflet_js %}
    {% leaflet_css %}
    <title>On the Bank</title>
</head>
<body>
    <!-- <p>{{ test_link.name1 }}</p> -->
    <div id="map" style="height: 100vh;"></div>
    <script type="text/javascript">
        function map_init(map, options) {
            var geojson_data = {{ geojson_data|safe }};
            var bounds = L.geoJson(geojson_data).getBounds();
            map.fitBounds(bounds);

            for (var i = 0; i < geojson_data.features.length; i++) {
                var feature = geojson_data.features[i];
                var geometry = feature.geometry;
                var properties = feature.properties;

                // Create line layer
                var lineLayer = L.geoJson(geometry, {
                    style: function (feature) {
                        return {
                            color: 'blue' // Set default color
                        };
                    }
                }).addTo(map);

                // Construct popup content
                var popupContent = '<strong>Name:</strong> ' + properties.name1 + '<br>' +
                                   '<strong>Bank to fish from:</strong> ' + properties.bank + '<br>' +
                                   '<strong>Angling Club:</strong> ' + properties.angclub + '<br>' +
                                   '<strong>Club Site:</strong> <a href="' + properties.clubsite + '">' + properties.clubsite + '</a>';

                // Bind popup to each line
                lineLayer.bindPopup(popupContent);

                // Add event listener for click event
                lineLayer.on('mouseover', function(e) {
                    e.target.setStyle({
                        color: 'red' // Change line color when clicked
                    });
                });

                lineLayer.on('mouseout', function(e) {
                    e.target.setStyle({
                        color: 'blue' // Change line color when clicked
                    });
                });
            }
        }
    </script>
    {% leaflet_map "map" callback="map_init" %}
</body>
</html>